body {
	background-color: #202020;
}

.background {
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;
	@include background-image(url("/images/sfalley3.jpg"));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .5;
	}

div.container {
  	@include outer-container;
}

.typography {
	@include span-columns(10);
	@include shift(3);
	padding-top:20%;
	z-index: 999999999; position: absolute;
}

