// Visual Grid reference
///////////////////////////////////////////////////////////////////////////////
$visual-grid: false;
$visual-grid-color: steelblue;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Grid settings
///////////////////////////////////////////////////////////////////////////////
$column: 60px;
$gutter: 20px;
$grid-columns: 14;
$max-width: em(1280);

// Breakpoints
///////////////////////////////////////////////////////////////////////////////
$desktop_lrg: new-breakpoint(max-width 1500 14);
$desktop_med: new-breakpoint(max-width 1120 14);
$desktop_small: new-breakpoint(max-width 960px 12);
$tablet-landscape: new-breakpoint(max-width 800px 10);
$tablet: new-breakpoint(max-width 640px 8);
$mobile: new-breakpoint(max-width 480px 4);