nav{
	height:44px;
	background-color: #f1f1f1;
	}

.nav-container{
	@include outer-container;
}

.left-nav {
	@include span-columns(8);
}

.right-nav {
	@include span-columns(8);
	text-align: right;
}